@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Quicksand&display=swap");
@import "./partials/reset";
@import "./partials/body";
@import "./partials/variables";

.header {
  color: #e8f9fd;
  text-align: center;
  padding: 20px;
}

.chessboard {
  background-color: #e8f9fd;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
  max-height: 480px;
  width: 100vw;
  height: 100vw;
  font-size: 0;
}

.box {
  width: 12.5%;
  height: 12.5%;
  border: 1px solid black;
}

p {
  font-size: 50px;
  text-align: center;
}
