@import "./variables";

.chessboard {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 480px;
  max-height: 480px;
  width: 100vw;
  height: 100vw;
  background-color: $light;
  border: 1px solid black;
}

.box {
  width: 12.5%;
  height: 12.5%;
  border: 1px solid black;
}

.chess-piece {
  font-size: 45px;
  text-align: center;
}
