@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Quicksand&display=swap");
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $quicksand;
}

body {
  background-color: $primary;
}
